/* print styling */
@media print {
  .App { 
    font-size: 0.65em; 
    /* forces webpage to print colored boxes */
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  #root .App .navbar { display: none; } /* don't print navigation */
  #flowchart { margin: 0; }
  .flow-desc { 
    display: block !important; 
    overflow: hidden;
  }
}

/*https://stackoverflow.com/questions/39356258/force-landscape-orientation-in-css*/
/* forces webpage to print in landscape mode */
@page {
  size: A4 landscape;
}

body {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

/*** Navbar styling ***/
.navbar-brand {
  margin-left: 2vw;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.active {
  background-color: #bc8c38;
  height: 100%;
}

#upload-button {
  margin-left: 10px;
}

#save-button {
  margin-left: auto;
  margin-right: 10px;
}

/*** Flowchart styling ***/
#flowchart {
  margin: 1vh auto;
  width: 98%;
  padding-bottom: 2.5rem;
}

.yearcol {
  padding: 15px;
  /*min-width: 25%;*/
}

.semcol {
  min-width: 50%;
}

.yearcol > .container {
  padding: 0;
}

.year-header {
  font-size: 1.2em;
  font-weight: 500;
}

.sem-header {
  font-weight: 500;
}

.sem-credits {
  font-size: 0.8em;
}

.sem-classes {
  border: 1px solid black;
}

/*** Flowchart box styling ***/
.flow-box {
  width: 100%;
  min-height: 4em;
  border: 1px solid black;
  margin-bottom: 3px;
  padding: 3px;
}

.flow-desc {
  display: none;
}

/* To reference for hovering containers based on different conditions: https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
/* When user hovers over the class they can see a description of the class */
.flow-box:hover .flow-desc {
  display: block;
}

.flow-id {
  font-weight: bold;
}

.flow-restriction { /*adding variation to restriction info to be more distiguishable*/
  font-weight: bold;
  color: #990000;
}

.flow-notes {
  margin-top: 10px;
  font-weight: 600;
}

.taken-class {
  opacity: 50%;
}

.pre-reqs {
  border: red solid 3px;
}

.credit-count { /*aligning total credit count info in edit view*/
  text-align: right;
  margin-right: 15px;
}

.listview-table {
  border: solid 1px black;
  margin: 1vh 1vw 12vh 1vw;
}

th {
  border: solid 2px black;
}

.alert-td {
  border: solid 2px black;
  text-align: center;
  background: rgb(197, 9, 9);
  color: white;
  font-weight: bold;
}

.heading-courses-td {
  border: solid 2px black;
  text-align: left;
  font-weight: bold;
}

.heading-credits-td {
  border: solid 2px black;
  text-align: center;
  font-weight: bold;
}

.heading-notes-td {
  border: solid 2px black;
  text-align: left;
  font-weight: bold;
}

td {
  border: solid 2px black;
}

.courses {
  width: 55vw;
  text-align: left;
  padding: 0.2em;
}

.credits {
  width: 5vw;
  text-align: center;
  padding: 0.2em;
}

.notes {
  width: 40vw;
  text-align: left;
  padding: 0.2em;
}

thead {
  background-color: lightgray;
}

.class-checkbox {
  display: inline;
}

.class-checkbox > .input-group-text {
  display: inline;
  background-color: rgba(0,0,0,0);
  border: none;
}

.drop {
  color: white;
  width: 75vw;
  margin-left: 90px;
  margin-right: 90px;
  border: solid 1px;
  border-color: gray;
  border-style: dashed;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

.flow-warn {
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 14px;
  font-weight: bold;
}

/* hiding the text when a file is uploaded through the upload button */
input[type="file"] {
  display: None;
}